body {
    font-size: larger;
}

.container1 {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container2 {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 30px;
}

#menu {
    table-layout: fixed;
    font-weight: bold;
    border-collapse: collapse;
    border: 3px solid black;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
}

.head {
    border: 3px solid black;
}

#menu td {
    font-family:  'Josefin Sans', cursive;
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
}

#menu tr:hover {background-color: #ddd;}

.search {
    line-height: 20px;
    width: 260px;
}

input[type="text"] {
    font-size: 1.2em;
    font-family: 'Josefin Sans', cursive;
    width: 260px;
}

.btn_wrapper {
    width: 40px;
    text-align: center!important;    
}

.btn {
    font-size: 1.2em;
}

.not-found {
    font-style: italic;
    color: grey;
}